@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.eot");
  src: local("☺"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype"), url("../fonts/DMSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.eot");
  src: local("☺"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype"), url("../fonts/DMSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.link {
  padding: 20px 40px;
  font: 400 18px "DMSans";
  display: inline-block;
  border-radius: 36px;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
}

.padding25 {
  padding-left: 250px;
  padding-right: 250px;
}

.mgLeft10 {
  margin-left: 100px;
}

h2.black {
  color: #476667;
  font: 400 72px "DMSans";
  line-height: 1.2;
}

h2.pink {
  font: 400 72px "DMSans";
  color: #c28283;
  letter-spacing: -5px;
}

.category h6 {
  font: 400 16px "DMSans";
}

.burger {
  display: none;
}

.mob-nav {
  display: none;
}

.intro {
  background: linear-gradient(90deg, #f9e8eb 0%, rgba(249, 232, 235, 0.85) 65%, rgba(71, 102, 103, 0.65) 100%), url("../images/galeria-4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 50% 50%/0 0 50px 50px;
}
.intro .header {
  padding-top: 70px;
  box-sizing: content-box;
}
.intro .header__content {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  opacity: 0.5;
}
.intro .header .nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.intro .header .nav__link {
  color: #476667;
  font: 400 16px "DMSans";
  transition: all 0.5s ease;
  padding: 10px 0;
}
.intro .header .nav__link:hover {
  color: #c28283;
  transition: all 0.5s ease;
  text-shadow: 0px 0px 7px #8e9395;
}
.intro .header .logo img {
  display: block;
  height: 4vw;
}
.intro__content {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.intro__text {
  width: 54%;
}
.intro__description {
  color: #c28283;
  font: 400 18px "DMSans";
  margin-top: 18px;
  line-height: 1.7;
  padding-right: 25px;
}
.intro__photos img {
  width: 29vw;
  margin-bottom: -50px;
}
.intro__links {
  margin-top: 50px;
}
.intro__link {
  color: white;
  background: #c28283;
}
.intro__link.about-us {
  background: #476667;
  margin-right: 30px;
}
.intro__link:hover {
  box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  -webkit-box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  -moz-box-shadow: 1px -1px 29px -1px rgba(255, 255, 255, 0.51) inset;
  transition: all 0.5s ease;
}

.we-are {
  display: flex;
  margin-top: 95px;
}
.we-are__photos {
  position: relative;
}
.we-are__photos svg {
  position: absolute;
  bottom: 30px;
  left: 75%;
  width: 14vw;
}
.we-are__content {
  margin: 108px 23% 0 15%;
}
.we-are__category {
  color: #c28283;
  letter-spacing: 3px;
}
.we-are__description {
  margin-bottom: 20px;
}
.we-are__description p {
  font: 400 16px "DMSans";
  color: #476667;
  line-height: 1.8;
}
.we-are__services {
  margin-top: 70px;
}
.we-are__services ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 400 18px "DMSans";
  color: #c28283;
}

.gallery {
  margin-top: 115px;
}
.gallery__category {
  font: 400 16px "DMSans";
  color: #476667;
  letter-spacing: 2px;
}
.gallery__header {
  display: flex;
  justify-content: space-between;
}
.gallery__header svg {
  width: 100px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
}
.gallery__header svg:hover {
  width: 90px;
}
.gallery__header h2 {
  font-size: 60px;
  line-height: 1.9;
}
.gallery__content {
  display: flex;
  overflow: auto;
  padding-left: 250px;
  margin-top: 30px;
  margin-bottom: -80px;
  transition: all 0.5s ease-in-out 0s;
}
.gallery__content::-webkit-scrollbar {
  width: 0;
}
.gallery__content:hover {
  padding-left: 100px;
}
.gallery__content img {
  height: 20vw;
  margin-right: 10px;
}
.gallery__content img:last-child {
  margin-right: 0px;
}

.reference {
  background: #476667;
  color: white;
}
.reference__row {
  display: flex;
  padding-top: 295px;
  padding-bottom: 40px;
}
.reference__head {
  flex: 30%;
  margin-right: 90px;
  display: flex;
  flex-direction: column;
}
.reference__link a {
  background: white;
  color: #476667;
}
.reference__link a:hover {
  box-shadow: 1px -1px 29px -1px rgba(185, 71, 71, 0.51) inset;
  -webkit-box-shadow: 1px -1px 29px -1px rgba(185, 71, 71, 0.51) inset;
  -moz-box-shadow: 1px -1px 29px -1px rgba(185, 71, 71, 0.51) inset;
}
.reference__category {
  color: white;
  letter-spacing: 2px;
}
.reference__title {
  flex: 1;
}
.reference__title h2 {
  color: white;
  letter-spacing: -6px;
}
.reference__text {
  flex: 20.33%;
  margin-right: 50px;
  font: 400 16px "DMSans";
  line-height: 1.8;
}
.reference__text:last-child {
  margin-right: 0;
}

.contact {
  background: #f9e8eb;
  padding-top: 165px;
  display: flex;
  justify-content: space-between;
}
.contact__form {
  width: 57%;
}
.contact__form h2 {
  margin-bottom: 70px;
}
.contact__images {
  position: relative;
}
.contact__images .logo {
  height: 100px;
}
.contact__images svg {
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 250px;
}
.contact .send-btn {
  text-align: center;
  margin-bottom: 40px;
}
.contact .send-btn button {
  padding: 12px 40px;
  border: 0;
  color: white;
  background: #476667;
  cursor: pointer;
}
.contact .send-btn button:hover {
  -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
}
.contact form .form-block {
  position: relative;
  padding: 15px;
  padding-left: 0;
  box-sizing: border-box;
}
.contact form .form-block label {
  font: 400 16px "DMSans";
  color: #476667;
  position: absolute;
  pointer-events: none;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.contact form input, .contact form textarea {
  font: 400 16px "DMSans";
  color: #c28283;
  -webkit-appearance: none;
  background: no-repeat bottom, 50% calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  background-image: linear-gradient(0deg, #476667 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #47666759 1px, rgba(209, 209, 209, 0) 0);
  padding-bottom: 10px;
  margin: 10px 0 1px 0;
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
}
.contact form input:focus, .contact form textarea:focus {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  outline: none;
}
.contact form input:focus + label, .contact form textarea:focus + label, .contact form input:valid + label, .contact form textarea:valid + label {
  -webkit-transform: translate(-10%, -15px) scale(0.8);
  -moz-transform: translate(-10%, -15px) scale(0.8);
  -ms-transform: translate(-10%, -15px) scale(0.8);
  -o-transform: translate(-10%, -15px) scale(0.8);
  transform: translate(-10%, -15px) scale(0.8);
}
.contact form input:not([value=""]):not(:focus):invalid + label {
  -webkit-transform: translate(-10%, -15px) scale(0.8);
  -moz-transform: translate(-10%, -15px) scale(0.8);
  -ms-transform: translate(-10%, -15px) scale(0.8);
  -o-transform: translate(-10%, -15px) scale(0.8);
  transform: translate(-10%, -15px) scale(0.8);
}
.contact form input[type=email] {
  width: 100%;
}
.contact form textarea {
  width: 100%;
  min-height: 120px;
  margin-bottom: 130px;
}
.contact form .name-tel {
  display: flex;
  justify-content: space-between;
}
.contact form .name-tel .name, .contact form .name-tel .tel {
  width: 46%;
}
.contact__category {
  color: #c28283;
}

.footer {
  height: 50px;
  font: 400 16px "DMSans";
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #476667;
}

@media (max-width: 1655px) {
  .mgLeft10 {
    margin-left: 50px;
  }

  .padding25 {
    padding-left: 200px;
    padding-right: 200px;
  }

  .we-are__content {
    margin: 108px 16% 0 13%;
  }

  .reference__title h2 {
    color: white;
    letter-spacing: -6px;
    font-size: 60px;
  }
}
@media (max-width: 1450px) {
  .mgLeft10 {
    margin-left: 40px;
  }

  .padding25 {
    padding-left: 150px;
    padding-right: 150px;
  }

  .intro .header {
    padding-top: 40px;
  }
  .intro .header__content {
    height: 120px;
  }

  .intro__links {
    margin-bottom: 40px;
  }

  .we-are__content {
    margin: 108px 13% 0 11%;
  }

  .we-are__photos svg {
    left: 25vw;
    width: 15vw;
    bottom: 4vw;
  }

  .gallery__content:hover {
    padding-left: 50px;
  }
}
@media (max-width: 1366px) {
  .padding25 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .reference__head {
    margin-right: 20px;
  }

  .contact__images svg {
    left: 35%;
    height: 14vw;
  }

  .intro__photos img {
    width: 33vw;
  }

  .we-are__photos svg {
    left: 25vw;
    width: 15vw;
    bottom: 4vw;
  }

  .contact__images .logo {
    height: 70px;
  }
}
@media (max-width: 1024px) {
  .padding25 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .we-are__content {
    margin: 108px 4% 0 6%;
  }
}
@media (max-width: 940px) {
  h2.black, h2.pink {
    font-size: 55px;
  }

  .padding25 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .we-are__photos img {
    height: 70vw;
  }

  .reference__text {
    font-size: 14px;
    margin-right: 30px;
  }

  .reference__link a {
    padding: 20px 25px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .category h6 {
    font-size: 14px;
  }

  h2.black, h2.pink {
    font-size: 46px;
    text-align: center;
  }

  h2.pink {
    letter-spacing: 0px;
  }

  .mgLeft10 {
    margin-left: 0;
    width: 100%;
  }

  .intro .header {
    padding-top: 0;
  }
  .intro .header .logo img {
    height: 8vw;
  }
  .intro .header .mob-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    opacity: 0;
    font: 400 16px "DMSans";
    transition: all 0.7s ease-in-out 0s;
    transform: translate(0px, -230px);
  }
  .intro .header .mob-nav.active {
    transform: translate(0px, 0px);
    opacity: 0.5;
  }
  .intro .header .mob-nav__link {
    color: #c28283;
    padding: 5px 0;
  }
  .intro .header__content {
    height: 70px;
  }
  .intro .header__content .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .intro .header__content .burger:before, .intro .header__content .burger:after {
    content: "";
    background-color: #c28283;
    position: absolute;
    width: 100%;
    height: 3px;
    right: 0;
    transition: all 0.5s ease 0s;
  }
  .intro .header__content .burger span {
    position: absolute;
    background-color: #c28283;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
  .intro .header__content .burger:after {
    bottom: 0;
  }
  .intro .header__content .burger:before {
    top: 0;
  }
  .intro .header__content .burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .intro .header__content .burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .intro .header__content .burger.active span {
    transform: scale(0);
  }
  .intro .header__content .nav {
    display: none;
  }
  .intro__content {
    margin-top: 0;
  }
  .intro__photos {
    display: none;
  }
  .intro__links {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }
  .intro__link {
    font-size: 14px;
    padding: 15px 20px;
  }

  .we-are {
    flex-direction: column;
    margin-top: 20px;
  }
  .we-are__content {
    margin: 0 10px 0 10px;
  }
  .we-are__photos {
    display: flex;
    justify-content: flex-end;
  }
  .we-are__photos svg {
    display: none;
  }
  .we-are__services ul {
    font-size: 14px;
  }
  .we-are__services {
    margin-top: 35px;
  }

  .gallery {
    margin-top: 80px;
  }
  .gallery .gallery__header .black {
    font-size: 34px;
  }
  .gallery .gallery__header svg {
    width: 60px;
  }
  .gallery__content {
    padding-left: 12%;
    margin-bottom: -40px;
  }

  .reference__row {
    padding-top: 80px;
    flex-direction: column;
  }
  .reference__title h2 {
    margin-bottom: 20px;
  }
  .reference__text {
    margin-right: 0;
    line-height: 1.6;
  }
  .reference__text h4 {
    margin-bottom: 40px;
  }
  .reference__link a {
    display: none;
  }

  .contact {
    padding-top: 30px;
  }
  .contact__images {
    display: none;
  }
  .contact__form {
    margin-bottom: 45px;
  }
  .contact__form h2 {
    margin-bottom: 40px;
  }
  .contact form .name-tel {
    flex-direction: column;
  }
  .contact form .name-tel .name, .contact form .name-tel .tel {
    width: 100%;
  }
  .contact form textarea {
    margin-bottom: 80px;
  }
  .contact .send-btn {
    text-align: center;
  }
}
@media (max-width: 375px) {
  h2.black, h2.pink {
    font-size: 39px;
  }

  .gallery .gallery__header .black {
    font-size: 29px;
  }

  .gallery .gallery__header svg {
    width: 35px;
  }

  .reference__text {
    line-height: 1.4;
  }
}

/*# sourceMappingURL=style.css.map */
